<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do usuario</title>
</head>
<body>
    
    {% if user.is_authenticated %}

        <div><p>{{ usuario.nome }}</p></div>

        {% for p in usuario.post_set.all %}

            <div><p>{{ p }}</p></div>
            
        {% endfor %}

    {% else %}

        <h1>Você não está logado</h1>
        <a href="http://localhost:8000/login/">
            <button type="submit">            
                Fazer login
            </button> 
        </a>

    {% endif %}

    <a href="http://localhost:8000/logout/">
        <button type="submit">            
            Sair
        </button> 
    </a>

</body>
</html>