<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Perfil</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      href="https://getbootstrap.com/docs/5.1/examples/offcanvas-navbar/offcanvas.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-light">
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"
      aria-label="Main navigation"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8000/inicio"
          >FC Solutions©</a
        >

        <div
          class="navbar-collapse offcanvas-collapse"
          id="navbarsExampleDefault"
        ></div>
        {% if user.is_authenticated %}
        <a href="http://localhost:8000/conta/logout"
          ><button class="btn btn-outline-light" type="submit">Sair</button></a
        >

        {% else %}
        <a href="http://localhost:8000/conta/login"
          ><button class="btn btn-outline-light" type="submit">
            Fazer Login
          </button></a
        >
        {% endif %}
      </div>
    </nav>
    <div class="nav-scroller bg-body shadow-sm">
      <nav class="nav nav-underline" aria-label="Secondary navigation">
        <a class="nav-link active" aria-current="page" href="#"
          >Perfil {{ pessoa.nome }}</a
        >
        <a class="nav-link" href="http://localhost:8000/">Perfil</a>
        <a class="nav-link" href="http://localhost:8000/inicio"
          >Página Inicial</a
        >
      </nav>
    </div>

    <main class="container">
      <div
        class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm"
      >
        <div class="lh-1">
          <h1 class="h6 mb-0 text-white lh-1" style="width: max-content">
            {{pessoa.nome}} 
          </h1>
        </div>
        <div
          class="navbar-collapse offcanvas-collapse"
          id="navbarsExampleDefault"
        ></div>
        {% if user.is_authenticated %} {% if seguidora %}
        <a href="http://localhost:8000/"
          ><button
            class="btn btn-outline-light"
            type="submit"
            style="width: max-content"
          >
            Deixar de seguir
          </button></a
        >
        {% else %} {% if usuario != pessoa %}
        <a href="http://localhost:8000/"
          ><button class="btn btn-outline-light" type="submit">
            Seguir
          </button></a
        >
        {% endif %} {% endif %} {% endif %}
      </div>

      <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Publicações</h6>

        {% for p in posts %}
        <div class="d-flex text-muted pt-3">
          <p class="pb-3 mb-0 small lh-sm">
            <strong class="d-block text-gray-dark"> {{ p.conteudo }} </strong>
            {{ p.data }}
          </p>
        </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
